<div ng-controller="CommentsCtrl" class="col-sm-12 col-md-12 col-lg-12">

  <h2 class="text-center">Leave us a comment!</h2>

  <textarea id="commentText" class="form-control" rows="3" placeholder="Enter your comment here"></textarea>

  <div class="input-group" style="padding: 1%">
    <span class="input-group-addon" id="username"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
    <input id="commenterName" type="text" class="form-control" placeholder="Please Enter your full name here" aria-describedby="Please Enter your full name here">
  </div>

  <div class="btn-group" role="group" aria-label="..." style="padding: 3%">
    <button type="button" class="btn btn-primary" ng-click="sendComment()">Submit</button>
  </div>

  <div id="result"></div>

  <h3 class="text-center">Others have said:</h3>
  <iframe id="commentsIframe" src="http://redsox.tcs.auckland.ac.nz/BC/Open/Service.svc/htmlcomments" width="100%"></iframe>



</div>

