<div class="col-sm-12 col-md-12 col-lg-12">

  <img src="images/ShopLogo.png" width="100%" class="img-responsive center-block" style="padding: 5%">

  <h2 class="text-center">Leave us a comment!</h2>

  <textarea class="form-control" rows="3" placeholder="Enter your comment here"></textarea>

  <div class="input-group" style="padding: 1%">
    <span class="input-group-addon" id="username"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
    <input type="text" class="form-control" placeholder="Please Enter your full name here" aria-describedby="Please Enter your full name here">
  </div>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger">Clear</button>
  </div>

</div>

