<div ng-controller="ShopCtrl" class="col-sm-12 col-md-12 col-lg-12">

  <div class="row" style="padding: 3%">
    <div class="col-lg-12">
      <div class="input-group">

        <input type="text" id="searchTerm" class="form-control" placeholder="Enter Search Query">

        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Search<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-click="searchBookByName()">Search Books</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="searchBlurayByName()">Search Blurays</a></li>
          </ul>
        </div>

        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">Show all<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a ng-click="displayAllBooks()">Show all Books</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="displayAllBlurays()">Show all Blurays</a></li>
          </ul>
        </div>

      </div>

      <div ng-if="buyingArray.length !== 0">
        <div ng-repeat="item in buyingArray">
          <div class="media">
            <div class="media-left media-middle">
              <img class="media-object" ng-src="{{item.img}}" alt="..."/>
            </div>
            <div class="media-body">
              <h4 id="movieTitle" class="media-heading">{{item.title}}</h4>
              <button type="button" class="btn btn-primary" ng-click="purchaseBluray('{{item.id}}')"
                >Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
